In [1]:
!pip install pandas --upgrade

import pandas as pd
data = [1, 2, 3]
df = pd.DataFrame(data)
df

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.22.4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/a1234/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/a1234/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

ModuleNotFoundError: No module named 'pandas'

In [ ]:
student = [['Tom', 90], ['Jack', 80], ['Jill', 70]]
data_student = pd.DataFrame(student, columns=['Name', 'Grade'])
data_student

:

In [ ]:
data_student['Name']

0     Tom
1    Jack
2    Jill
Name: Name, dtype: object

In [ ]:
new_student = [['Sam', 60], ['Mary', 50], ['John', 40], ['Joseph', 30]]
new_student = pd.DataFrame(new_student, columns=['Name', 'Grade'])
data_student = pd.concat([data_student, new_student], ignore_index=True)
data_student

     Name  Grade
0     Tom     90
1    Jack     80
2    Jill     70
3     Sam     60
4    Mary     50
5    John     40
6  Joseph     30

In [ ]:
data_student.head(3)

   Name  Grade
0   Tom     90
1  Jack     80
2  Jill     70

In [ ]:
data_student.tail(3)

     Name  Grade
4    Mary     50
5    John     40
6  Joseph     30

In [ ]:
data_student.to_csv('data_student.csv')

In [ ]:
friends = [['Jhony', 'Swimming', 'male'], ['Catherine',
                                           'Drawing', 'female'], ['Jack', 'Gaming', 'male']]
friends = pd.DataFrame(friends, columns=['Name', 'Hobby', 'Gender'])
friends

        Name     Hobby  Gender
0      Jhony  Swimming    male
1  Catherine   Drawing  female
2       Jack    Gaming    male

In [ ]:
import pandas as pd

height_data = [['Taylor', 178],
               ['Joshua', 180],
               ['George', 177],
               ['Irina', 174]]
height_data = pd.DataFrame(
    data,
    columns=['Name', 'Height'])
height_data

NameError: name 'data' is not defined

In [ ]:
grade = [90, 80, 83, 75]
for i in range(len(grade)):
    if grade[i] > 80:
        print('Good Job')
    else:
        print('Try Harder')

Good Job
Try Harder
Good Job
Try Harder