In [54]:
import pandas as pd
data = [1, 2, 3]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3

In [55]:
student = [['Tom', 90], ['Jack', 80], ['Jill', 70]]
data_student = pd.DataFrame(student, columns=['Name', 'Grade'])
data_student

   Name  Grade
0   Tom     90
1  Jack     80
2  Jill     70

In [56]:
data_student['Name']

0     Tom
1    Jack
2    Jill
Name: Name, dtype: object

In [57]:
new_student = [['Sam', 60], ['Mary', 50], ['John', 40], ['Joseph', 30]]
new_student = pd.DataFrame(new_student, columns=['Name', 'Grade'])
data_student = pd.concat([data_student, new_student], ignore_index=True)
data_student

     Name  Grade
0     Tom     90
1    Jack     80
2    Jill     70
3     Sam     60
4    Mary     50
5    John     40
6  Joseph     30

In [58]:
data_student.head(3)

   Name  Grade
0   Tom     90
1  Jack     80
2  Jill     70

In [59]:
data_student.tail(3)

     Name  Grade
4    Mary     50
5    John     40
6  Joseph     30

In [60]:
data_student.to_csv('data_student.csv')

In [61]:
friends = [['Jhony', 'Swimming', 'male'], ['Catherine',
                                           'Drawing', 'female'], ['Jack', 'Gaming', 'male']]
friends = pd.DataFrame(friends, columns=['Name', 'Hobby', 'Gender'])
friends

        Name     Hobby  Gender
0      Jhony  Swimming    male
1  Catherine   Drawing  female
2       Jack    Gaming    male

In [11]:
import pandas as pd

height_data = [['Taylor', 178],
               ['Joshua', 180],
               ['George', 177],
               ['Irina', 174]]
height_data = pd.DataFrame(
    data,
    columns=['Name', 'Height'])
height_data

NameError: name 'data' is not defined

In [4]:
grade = [90, 80, 83, 75]
for i in range(len(grade)):
    if grade[i] > 80:
        print('Good Job')
    else:
        print('Try Harder')

Good Job
Try Harder
Good Job
Try Harder